.border27 {
  width: 12px;
  height: 12px;
  position: relative;
  border-top: 6px solid #188a9d;
  border-bottom: 6px solid #188a9d;
  border-left: 12px solid #188a9d;
  box-sizing: border-box;
}
.border-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.5px;
}
.strong-how8 {
  position: relative;
  line-height: 18px;
}
.frame-parent19 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}
.border28 {
  width: 12px;
  height: 12px;
  position: relative;
  border-top: 6px solid #188a9d;
  border-bottom: 6px solid #188a9d;
  border-left: 12px solid #188a9d;
  box-sizing: border-box;
}
.esim-borders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.5px;
}
.strong1 {
  position: relative;
  line-height: 18px;
}
.esim-borders-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}
.article-columns5,
.frame-parent18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  flex-direction: column;
  gap: 30px;
}
.article-columns5 {
  flex-direction: row;
  padding: 0 18px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #188a9d;
  font-family: Poppins;
}
