.figure-cropped-p1170572tf-6 {
  width: 150px;
  height: 39.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.consumers-to-find,
.esim-x-is,
.their-favorite-e-commerce {
  display: block;
}
.esim-x-is-container {
  margin: 0;
  position: relative;
  line-height: 19.5px;
}
.pacific-coast-hwy1,
.skylark-connect-llc1 {
  display: block;
}
.skylark-connect-llc-container1 {
  margin: 0;
  position: relative;
  line-height: 19.5px;
}
.footer-content,
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19.5px;
}
.footer-content {
  gap: 9.3px;
  min-width: 351px;
  max-width: 100%;
}
.link-shop,
.quick-links {
  position: relative;
  display: inline-block;
}
.quick-links {
  font-size: 15px;
  line-height: 23px;
  color: #222e3a;
  min-width: 80px;
}
.link-shop {
  text-decoration: underline;
  line-height: 19.5px;
  min-width: 31.3px;
}
.link-blog1 {
  line-height: 20px;
  min-width: 27px;
}
.link-about,
.link-blog1,
.link-contact,
.link-destinations {
  position: relative;
  text-decoration: underline;
  display: inline-block;
}
.link-about {
  line-height: 20px;
  color: inherit;
  min-width: 37px;
}
.link-contact,
.link-destinations {
  line-height: 19.5px;
  min-width: 47px;
}
.link-destinations {
  min-width: 76.3px;
}
.svg-icon {
  width: 18px;
  height: 18px;
  position: relative;
}
.social-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.6px;
}
.list {
  position: relative;
  line-height: 27px;
  white-space: nowrap;
}
.social-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9px;
  font-size: 18px;
  color: #fff;
}
.footer-quick-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.8px;
  min-width: 107px;
}
.link-esim,
.link-esim1,
.regions {
  position: relative;
  display: inline-block;
}
.regions {
  font-size: 15px;
  line-height: 22.5px;
  color: #222e3a;
  min-width: 55.3px;
}
.link-esim,
.link-esim1 {
  text-decoration: underline;
  line-height: 19.5px;
  min-width: 98px;
}
.link-esim1 {
  min-width: 79.3px;
}
.link-esim2,
.link-esim3,
.link-esim4,
.link-esim5,
.link-esim6 {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}
.link-esim4,
.link-esim5,
.link-esim6 {
  display: inline-block;
  min-width: 104px;
}
.link-esim5,
.link-esim6 {
  line-height: 19.5px;
  min-width: 89px;
}
.link-esim6 {
  line-height: 20px;
  min-width: 125px;
}
.footer-regions {
  flex: 0.8788;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 9.7px;
  min-width: 107px;
}
.countries {
  position: relative;
  font-size: 15px;
  line-height: 22.5px;
  color: #222e3a;
  display: inline-block;
  min-width: 68px;
}
.link-esim7,
.link-esim8,
.link-esim9 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
  display: inline-block;
  min-width: 79.2px;
}
.link-esim8,
.link-esim9 {
  min-width: 88.2px;
}
.link-esim9 {
  min-width: 100.2px;
}
.link-esim10 {
  display: inline-block;
  min-width: 116px;
}
.link-esim10,
.link-esim11 {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}
.footer-countries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.8px;
}
.footer-navigation,
.footer1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-navigation {
  width: 609px;
  justify-content: flex-start;
  gap: 63px;
  min-width: 609px;
  color: #222;
}
.footer1 {
  width: 1065px;
  justify-content: space-between;
  gap: 20px;
}
.privacy-policy,
.refunds-policy,
.terms-conditions {
  text-decoration: underline;
  color: #188a9d;
}
.esim-x-privacy-policy-terms-container1 {
  width: 100%;
}
.esim-x-privacy-policy-terms-container {
  margin: 0;
  width: 439.5px;
  position: relative;
  line-height: 42px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.link-facebook-link,
.link-instagram-link,
.link-instagram-link1 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.link-facebook-link {
  border-radius: 50px;
}
.background2,
.copyright1,
.social-media-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.background2,
.copyright1 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  font-size: 14px;
}
.background2 {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 140px 390px 110px;
  box-sizing: border-box;
  gap: 90.2px;
  z-index: 1;
  text-align: left;
  font-size: 13px;
  color: #222e3a;
  font-family: "Open Sans";
}
@media screen and (max-width: 1725px) {
  .footer-content {
    flex: 1;
  }
  .footer-navigation {
    flex: 1;
    min-width: 100%;
  }
  .footer1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .footer-content {
    min-width: 100%;
  }
  .copyright1 {
    flex-wrap: wrap;
  }
  .background2 {
    gap: 45px;
    padding-left: 195px;
    padding-right: 195px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .footer-navigation {
    flex-wrap: wrap;
    gap: 31px;
  }
  .background2 {
    gap: 23px;
    padding: 91px 97px 71px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footer-regions {
    flex: 1;
  }
  .footer-navigation {
    gap: 16px;
  }
}
