.heading-211 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.27px;
  line-height: 48px;
  font-weight: 600;
  font-family: inherit;
}
.esim-heading {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  max-width: 100%;
}
.step-1 {
  position: relative;
  font-size: inherit;
  letter-spacing: -0.56px;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
  color: #ff9800;
  display: inline-block;
  min-width: 101px;
}
.check-your-phone,
.esim,
.is-compatible-with,
.step-1 {
  margin: 0;
}
.check-your-phone-container {
  margin: 0;
  position: relative;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
}
.before-you-purchase-make-sure,
.esim-you-can-find-a-list-of,
.that-your-smartphone-supports {
  display: block;
}
.supported-smartphones-here1 {
  text-decoration: underline;
}
.supported-smartphones-here {
  display: block;
  color: #2d4156;
}
.before-you-purchase-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.backgroundbordershadow12 {
  flex: 1;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 4px 8px rgba(4, 4, 52, 0.05),
    0 6px 12px rgba(4, 4, 52, 0.02);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid rgba(4, 4, 52, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31px 20px 32px 33px;
  gap: 27.8px;
  min-width: 231px;
  max-width: 308px;
}
.step-2 {
  position: relative;
  font-size: inherit;
  letter-spacing: -0.56px;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
  color: #ff9800;
  display: inline-block;
  min-width: 101px;
}
.choose-your,
.package,
.step-2 {
  margin: 0;
}
.choose-your-package-container {
  margin: 0;
  position: relative;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
}
.order-details,
.order-esim-data,
.to-your-destination,
.whencompleting-the-order,
.will-receive-an {
  display: block;
}
.order-esim-data-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.backgroundbordershadow13 {
  flex: 1;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 4px 8px rgba(4, 4, 52, 0.05),
    0 6px 12px rgba(4, 4, 52, 0.02);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid rgba(4, 4, 52, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31px 20px 50px 33px;
  gap: 27.8px;
  min-width: 231px;
  max-width: 308px;
}
.esim-steps {
  width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 36px;
}
.background-wrapper,
.background1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.background1 {
  flex: 1;
  background: linear-gradient(109.77deg, #daebfb, #f6eef8 50%, #f7ded5);
  flex-direction: column;
  align-items: center;
  padding: 58.6px 20px 32px;
  gap: 42.5px;
}
.background-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 10.6px;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 800px) {
  .heading-211 {
    font-size: 26px;
    line-height: 38px;
  }
  .step-1,
  .step-2 {
    font-size: 29px;
    line-height: 43px;
  }
  .background1 {
    gap: 21px;
    padding-top: 38px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-211 {
    font-size: 19px;
    line-height: 29px;
  }
  .step-1 {
    font-size: 22px;
    line-height: 32px;
  }
  .check-your-phone-container {
    font-size: 22px;
    line-height: 34px;
  }
  .backgroundbordershadow12 {
    padding-top: 20px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .step-2 {
    font-size: 22px;
    line-height: 32px;
  }
  .choose-your-package-container {
    font-size: 22px;
    line-height: 34px;
  }
  .backgroundbordershadow13 {
    padding-top: 20px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
