.heading-212 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.27px;
  line-height: 48px;
  font-weight: 600;
  font-family: inherit;
}
.article-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.img-best-esim-for-dubai-be {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.are-you-planning,
.in-this-guide,
.the-best-esim {
  display: block;
}
.are-you-planning-container1 {
  width: 100%;
}
.are-you-planning-container {
  margin: 0 !important;
  width: 466.3px;
  position: absolute;
  right: -61px;
  bottom: 55.9px;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
}
.link6 {
  align-self: stretch;
  height: 442.9px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 144.5px;
  box-sizing: border-box;
  position: relative;
  gap: 31.4px;
  cursor: pointer;
}
.img-best-esim-for-stockholm {
  align-self: stretch;
  height: 219px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.best-esim-for,
.capital,
.connected-in-swedens {
  margin: 0;
}
.best-esim-for-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 31.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.as-an-avid,
.essential-whenever-i,
.its-looking-up {
  display: block;
}
.as-an-avid-container1 {
  width: 100%;
}
.as-an-avid-container {
  margin: 0 !important;
  width: 455.8px;
  position: absolute;
  right: -50.5px;
  bottom: 24.1px;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
}
.link-parent,
.link7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link7 {
  align-self: stretch;
  border-radius: 4px;
  padding: 16px 16px 114.1px;
  box-sizing: border-box;
  position: relative;
  gap: 31.4px;
  max-width: 100%;
}
.link-parent {
  width: 421.3px;
  flex-shrink: 0;
  gap: 8px;
}
.img-best-esim-for-jakarta {
  align-self: stretch;
  height: 219px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-32 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.and-looking-for,
.are-you-planning1,
.esim-card-is {
  display: block;
}
.are-you-planning-container3 {
  width: 100%;
}
.are-you-planning-container2 {
  margin: 0;
  width: 441.4px;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  max-width: 114%;
  flex-shrink: 0;
}
.link8 {
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 55.9px;
  box-sizing: border-box;
  gap: 31px;
  max-width: 100%;
}
.img-best-esim-for-toronto {
  align-self: stretch;
  height: 219px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.best-esim-for1,
.connected-in-canadas {
  margin: 0;
}
.best-esim-for-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 31.2px;
  font-weight: 400;
  font-family: inherit;
}
.are-you-planning2,
.toronto-as-canadas,
.vibrant-mix-of {
  display: block;
}
.are-you-planning-container5 {
  width: 100%;
}
.are-you-planning-container4 {
  margin: 0;
  width: 447.4px;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  max-width: 115%;
  flex-shrink: 0;
}
.link-group,
.link9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link9 {
  align-self: stretch;
  border-radius: 4px;
  padding: 16px 16px 55.3px;
  box-sizing: border-box;
  gap: 31.7px;
  max-width: 100%;
}
.link-group {
  width: 421.3px;
  flex-shrink: 0;
  gap: 8px;
}
.img-best-esim-for-bangkok-tr {
  align-self: stretch;
  height: 219px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.best-esim-for2,
.p {
  margin: 0;
}
.best-esim-for-container2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 31.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.digital-nomad-who,
.i-recently-took,
.to-stay-connected {
  display: block;
}
.i-recently-took-container1 {
  width: 100%;
}
.i-recently-took-container {
  margin: 0 !important;
  width: 454.5px;
  position: absolute;
  right: -49.2px;
  bottom: 24.1px;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
}
.img-does-huawei-p20-support,
.link10 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.link10 {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 114.1px;
  box-sizing: border-box;
  gap: 31.4px;
}
.img-does-huawei-p20-support {
  height: 219px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-33 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 31.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.do-and-how,
.esim-if-it,
.ive-got-a,
.on-those-models {
  display: block;
}
.ive-got-a-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
}
.link-parent1,
.link11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link11 {
  align-self: stretch;
  border-radius: 4px;
  padding: 16px 16px 68.1px;
  box-sizing: border-box;
  gap: 31.4px;
  max-width: 100%;
}
.link-parent1 {
  width: 421.3px;
  flex-shrink: 0;
  gap: 8px;
}
.article-container,
.article-list {
  width: 1280px;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.article-list {
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  text-align: left;
  font-size: 24px;
  color: #2d4156;
}
.article-container {
  flex-direction: column;
  align-items: flex-end;
  gap: 26.5px;
}
.article-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 42.6px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1125px) {
  .article-container-wrapper {
    padding-bottom: 28px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .heading-212 {
    font-size: 26px;
    line-height: 38px;
  }
  .link11,
  .link7,
  .link9 {
    padding-top: 20px;
    padding-bottom: 74px;
    box-sizing: border-box;
  }
  .link11,
  .link9 {
    padding-bottom: 36px;
  }
  .link11 {
    padding-bottom: 44px;
  }
  .article-container-wrapper {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-212,
  .heading-31 {
    font-size: 19px;
    line-height: 29px;
  }
  .heading-31 {
    line-height: 25px;
  }
  .link6 {
    padding-top: 20px;
    padding-bottom: 94px;
    box-sizing: border-box;
  }
  .best-esim-for-container,
  .heading-32 {
    font-size: 19px;
    line-height: 25px;
  }
  .link8 {
    padding-top: 20px;
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .best-esim-for-container1,
  .best-esim-for-container2 {
    font-size: 19px;
    line-height: 25px;
  }
  .link10 {
    padding-top: 20px;
    padding-bottom: 74px;
    box-sizing: border-box;
  }
  .heading-33 {
    font-size: 19px;
    line-height: 25px;
  }
}
