.container-icon5 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 13.2px;
}
.japan-20gb-30days {
  position: relative;
  line-height: 28px;
}
.container2,
.usd5 {
  position: relative;
  display: inline-block;
}
.container2 {
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
  min-width: 46.4px;
  white-space: nowrap;
}
.usd5 {
  line-height: 18px;
  min-width: 26.1px;
}
.popular-offer-card-price-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.5px;
  font-size: 12px;
}
.popular-offer-card-prices {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 16px;
}
.japan-20gb-30days-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.8px;
}
.backgroundbordershadow-inner2,
.frame-parent12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent12 {
  align-items: flex-end;
  gap: 16px;
}
.backgroundbordershadow-inner2 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 18px;
}
.buy-now {
  margin-right: -0.19999999999998863px;
  text-decoration: underline;
  position: relative;
  line-height: 19.2px;
  color: inherit;
  display: inline-block;
  min-width: 67.1px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.buy-now-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.east4 {
  width: 16.4px;
  position: relative;
  text-decoration: underline;
  line-height: 16px;
  font-family: "Material Icons";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 16.4px;
  debug_commit: bf4bc93;
}
.backgroundbordershadow5,
.frame-parent13 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent13 {
  flex-direction: row;
  font-size: 16px;
  color: #2d4156;
}
.backgroundbordershadow5 {
  align-self: stretch;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 4px 8px rgba(4, 4, 52, 0.05),
    0 6px 12px rgba(4, 4, 52, 0.02);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid rgba(4, 4, 52, 0.1);
  flex-direction: column;
  padding: 45px 15px 16px;
  gap: 26.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container-icon6 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13.7px 0 0;
}
.united-states-20gb {
  position: relative;
  font-size: 21px;
  line-height: 27.3px;
}
.container3,
.usd6 {
  position: relative;
  display: inline-block;
}
.container3 {
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
  min-width: 30.5px;
  white-space: nowrap;
}
.usd6 {
  line-height: 18px;
  min-width: 26.1px;
}
.usa-indonesia-u-s-d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.5px;
  font-size: 12px;
}
.usa-indonesia-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.buy-now1 {
  margin-right: -0.19999999999998863px;
  text-decoration: underline;
  position: relative;
  line-height: 19.2px;
  color: inherit;
  display: inline-block;
  min-width: 67.1px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.indonesia-button-direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.east5 {
  width: 16.4px;
  position: relative;
  text-decoration: underline;
  line-height: 16px;
  font-family: "Material Icons";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 16.4px;
  debug_commit: bf4bc93;
}
.indonesia-offer-btn,
.link4 {
  display: flex;
  flex-direction: row;
}
.link4 {
  align-items: flex-end;
  justify-content: flex-start;
  cursor: pointer;
}
.indonesia-offer-btn {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  color: #2d4156;
}
.united-states-20gb-30days-parent {
  flex: 1;
  flex-direction: column;
  gap: 14.4px;
  min-width: 201px;
}
.backgroundbordershadow6,
.popular-offer-card-backgrounds,
.united-states-20gb-30days-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundbordershadow6 {
  align-self: stretch;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 4px 8px rgba(4, 4, 52, 0.05),
    0 6px 12px rgba(4, 4, 52, 0.02);
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid rgba(4, 4, 52, 0.1);
  flex-direction: row;
  padding: 31px 15px 15px 33px;
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  font-size: 16px;
}
.popular-offer-card-backgrounds {
  flex: 1;
  flex-direction: column;
  gap: 15.9px;
  min-width: 312px;
  max-width: 100%;
  text-align: left;
  font-size: 21px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .japan-20gb-30days,
  .united-states-20gb {
    font-size: 17px;
    line-height: 22px;
  }
  .backgroundbordershadow6 {
    flex-wrap: wrap;
  }
}
